body {
	background-color: bisque;
	box-sizing: border-box;
}

.wrapper {
	padding: 5% 0;
	display: flex;
	gap: 2rem;
	flex-direction: column;
	align-items: center;
}

.card-container {
	width: 1080px;
	height: 522px;
	border-radius: 10px;
}

.main-row {
	height: 100%;
}
.main {
	padding-left: 1.5rem;
}

.amount__container {
	display: flex;
	justify-content: flex-start;
}

.amount {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	gap: 1.2rem;
	border: 1px solid #ced4da;
	border-radius: 0.3rem;
	padding: 0.3rem 0.5rem;
}

.right-aside {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	padding: 3rem 0;
	border-left: 1px solid #ced4da88;
}

.left-aside-bg {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #f5f5f5;
	height: 100%;
}

.left-aside {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 1.8rem;
}

.left-aside__title {
	font-weight: bold;
	font-size: 1.6rem;
	margin-bottom: 2.2rem;
}

.left-aside__text-row {
	border-bottom: 1px solid #ced4da88;
	display: flex;
	justify-content: space-between;
	padding: 0.4rem 0 0.2rem 0;
}

.left-aside__text-span {
	font-weight: bold;
	font-size: 1rem;
	color: #000000a8;
	line-height: 1.6;
}
